:root {
  --main-bk-clr: rgb(252, 248, 243);
  --tg-safe-area-inset-top: 0px;
  --tg-safe-area-inset-bottom: 0px;
  --tg-safe-area-inset-right: 0px;
  --tg-safe-area-inset-left: 0px;
  --tg-content-safe-area-inset-top: 30px;
  --tg-content-safe-area-inset-bottom: 0px;
  --tg-content-safe-area-inset-right: 0px;
  --tg-content-safe-area-inset-left: 0px;
  --tg-safe-mrgin: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top));
  --tg-mrgn-to-ui-btn: 110px;
  --tg-ui-btn-hyt: 33px;
  --txt-shd: 1px 1px 5px rgba(58, 35, 0, 0.368);
  --txt-shd2: 0px 1px 3px rgba(58, 35, 0, 0.405);
}
#app {
  font-weight: normal; 
}
* {
  box-sizing: border-box;
}
body, html {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  background-color: var(--main-bk-clr);
}

.unselectable {
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  direction: rtl; 
  text-align: right;
}

input {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    border-radius: 14px;
  }
}


.outer {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
}

.outer div:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
